/* ------------------------------------- GENERAL ------------------------------------- */
* {
    font-family: 'Comfortaa', cursive;
}
img{
    border: 1px solid darkred;
}
body {
    background-color: #1e1e1e;
    font-family: 'Comfortaa', cursive;
}
a, a:active, a:visited, a:focus {
    text-decoration: none;
    color: white;

}
a:hover {
    color: darkred;
    text-decoration: none;
    transition: color 0.5s;
}

.demo:hover {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(-45deg, darkred,darkred);
}
.demo {
    background-image: linear-gradient(-45deg, #430202, darkred);
    padding: 15px 40px 15px 40px;
}
.container {
    background-color: #1e1e1e;
    color: white;
    height: 1200px;
}
.redrow{
    background-color:darkred;
    height: 2px;
}
.row1 {
    background-image: linear-gradient(-45deg, #430202, black);
    height: 100px;
    font-size: 30px;
    color: white;
    text-align: center;
}
.row2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.row4{
    padding-top: 50px;
}
.rowfeatures{
    height: 70px;
}
span{
    padding: 5px;
    background-color:darkred;
    margin-left: 15px;
}
#github, #linkedin {
    margin-right: 20px;
    float: right;
}
#linkedin{
    margin-left: 220px;
}
/* ------------------------------------- FOOTER ------------------------------------- */
#footer {
    background-image: linear-gradient(-45deg, #430202, black);
    padding-top: 25px;
    background-color: darkred;
    text-align: center;
    height: 80px;
    font-size: 20px;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1200px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    margin-left: 0px;
    position: absolute;
    margin-top:300px;
    color: black;
    font-size: 70px;
    font-weight: bold;
    transition: 0.4s;
}
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

@media only screen and (max-width: 700px) {
    a, a:active, a:visited, a:focus {
        text-decoration: none;
        color: white;

    }
    a:hover {
        color: darkred;
        text-decoration: none;
        transition: color 0.5s;
    }
    .container {
        color: white;
        height: 1600px;
    }
    .row1 {
        background-image: linear-gradient(-45deg, #430202, black);
        height: 150px;
        font-size: 24px;
        color: white;
        text-align: center;
    }
    .row2 {
        padding-top: 20px;
        padding-bottom: 0px;
    }
    .row4{
        padding-top: 20px;
    }
    .rowfeatures{
        height: 110px;
    }
    #footer {
        background-image: linear-gradient(-45deg, #430202, black);
        padding-top: 25px;
        background-color: darkred;
        text-align: center;
        height: 80px;
        font-size: 20px;
        color: white;
        position: relative;

    }
    #github, #linkedin {
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0px;
        float: none;
    }
    .modal-content {
        width: 100%;
        margin-top:200px;
    }
    .close {
        margin-left: 0px;
        position: absolute;
        margin-top: 130px;
        color: black;
        z-index: 101;
        font-size: 40px;
        font-weight: bold;
        transition: 0.4s;
    }
}
